ul {
    list-style-type:none ;
    margin: 0;
    padding: 4;
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0);
}

li {

    float: left;

}

li a {

    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

li a:hover {
    background-color: #0400ff60;

}

 body {
background: -webkit-linear-gradient(bottom, white, royalblue);
    background-repeat: no-repeat;
}